.hero {
    background-color: #2F303A;
}

.hero-title {
    color: var(--background-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 2.7;
}

.hero-button {
    background-color: var(--accent-color);
    color:  var(--background-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--background-color);
    color: var(--accent-color);
}

.features-subtitle {
    font-size: 14px;
    line-height: 1.1;
}

.features-text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 5.4;
}

.actions-title {
    font-size: 36px;
    line-height: 1.2;
}

.team-title {
    font-size: 36px;
    line-height: 1.2;
}

.team-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;

}

.team-text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.button-list .button {
    background-color: var(--button-color);
    color: var(--brand-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
}

.button-list .button:hover,
.button-list .button:focus {
    background-color: var(--accent-color);
    color: var(--background-color);
}

.works-subtitle {
    font-size: 18px;
    line-height: 2;
}

.works-text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.9;
}